<div class="auth-shell__background" aria-hidden="true">
  <div class="auth-shell__orb auth-shell__orb--gold"></div>
  <div class="auth-shell__orb auth-shell__orb--sky"></div>
  <div class="auth-shell__orb auth-shell__orb--mint"></div>
  <div class="auth-shell__orb auth-shell__orb--mist"></div>

  <span class="auth-shell__item auth-shell__item--book"></span>
  <span class="auth-shell__item auth-shell__item--laptop"></span>
  <span class="auth-shell__item auth-shell__item--camera"></span>
  <span class="auth-shell__item auth-shell__item--mug"></span>
  <span class="auth-shell__item auth-shell__item--lamp"></span>
  <span class="auth-shell__item auth-shell__item--headset"></span>
  <span class="auth-shell__item auth-shell__item--bottle"></span>
  <span class="auth-shell__item auth-shell__item--calculator"></span>
  <span class="auth-shell__item auth-shell__item--tablet"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-left"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-top"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-bottom"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-left-edge"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-left-upper"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-left-lower"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-top-center"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-right-mid"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-right-top"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-right-lower"></span>
  <span class="auth-shell__item auth-shell__item--mini auth-shell__item--mini-grey auth-shell__item--mini-grey-right-bottom"></span>
</div>
