
<!-- CUSTOM ERROR PAGE -->
<!-- the `flash` variable stores the alert message. -->

<div class="error-404">
  <h1>Error 404</h1>
  <%= @error_msg %>
  <br>
  <%= link_to "Back to items", root_path %>
</div>