<% dom_id = local_assigns[:dom_id] %>
<% grid_class = local_assigns[:grid_class] %>
<% favorite_context = local_assigns[:favorite_context] %>

<div<%= %( id="#{dom_id}") if dom_id.present? %> class="<%= class_names("items-grid", grid_class) %>" role="list">
  <%= render partial: "items/market_card", collection: items, as: :item, locals: { favorite_context: favorite_context } %>
</div>
