<h3>Price</h3>
  <p id="price-label"></p>
  <div id="price-slider" style="margin: 24px 8px; width: 10%; min-width: 220px;"></div>

  <div style="margin-top: 8px;">
    <%= submit_tag "Apply", name: "apply" %>
    <%= link_to "Reset price range", items_path %>
  </div>